#ifndef WORKSHOP_INVOKED
#include <os2.h>
#endif
#include "pmstore.h"

POINTER ID_WINDOW "pmstore.ico"
ICON    ID_ICON1  pmhello1.ico
ICON    ID_ICON2  pmhello2.ico
POINTER ID_ICON3 "pmhello3.ico"

MENU ID_WINDOW PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	SUBMENU "~Database", ID_OPTIONS
	BEGIN
		MENUITEM "~New \tAlt+N", ID_NEWDB, MIS_TEXT
		MENUITEM "~Open \tAlt+O", ID_OPTION1, MIS_TEXT
		MENUITEM "~Save \tAlt+S", ID_OPTION2, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "~Exit \tAlt+X", ID_EXITPROG, MIS_TEXT
	END

	SUBMENU "~Create", ID_CREATEOPTIONS
	BEGIN
		MENUITEM "~Type \tAlt+T", ID_CREATETYPE, MIS_TEXT
		MENUITEM "~Property \tAlt+P", ID_CREATEPROP, MIS_TEXT
		MENUITEM "~Instance \tAlt+I", ID_CREATEINST, MIS_TEXT
	END

	SUBMENU "Delete/Update", ID_DELETE
	BEGIN
		MENUITEM "Type", ID_DELETETYPE, MIS_TEXT
		MENUITEM "Property", ID_DELETEPROP, MIS_TEXT
		MENUITEM "Instance", ID_DELETEINST, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "Update Instance", ID_UPDATEINST, MIS_TEXT
	END

	SUBMENU "~Inspect", ID_INSPECT
	BEGIN
		MENUITEM "~Database \tAlt+D", ID_INSPECTDB, MIS_TEXT
		MENUITEM "T~ype \tAlt+Y", ID_INSPECTTYPE, MIS_TEXT
		MENUITEM "Inst~ance \tAlt+A", ID_INSPECTINST, MIS_TEXT
	END

END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  "n"	ID_NEWDB, CHAR, ALT
  "o",   ID_OPTION1, CHAR,        ALT
  "s",   ID_OPTION2, CHAR,        ALT
  "x",   ID_EXITPROG, CHAR,       ALT
  "N"	ID_NEWDB, CHAR, ALT
  "O",   ID_OPTION1, CHAR,        ALT
  "S",   ID_OPTION2, CHAR,        ALT
  "X",   ID_EXITPROG, CHAR,       ALT
  "T",	 ID_CREATETYPE, CHAR,	  ALT
  "t",	 ID_CREATETYPE, CHAR,	  ALT
  "P",	 ID_CREATEPROP, CHAR,	  ALT
  "p",	 ID_CREATEPROP, CHAR,	  ALT
  "I",	 ID_CREATEINST, CHAR,	  ALT
  "i",	 ID_CREATEINST, CHAR,	  ALT
  "D",	 ID_INSPECTDB, CHAR,	  ALT
  "d",	 ID_INSPECTDB, CHAR,	  ALT
  "Y",	 ID_INSPECTTYPE, CHAR,	  ALT
  "y",	 ID_INSPECTTYPE, CHAR,	  ALT
  "A",	 ID_INSPECTINST, CHAR,	  ALT
  "a",	 ID_INSPECTINST, CHAR,	  ALT
  VK_F3, ID_EXITPROG, VIRTUALKEY
END

STRINGTABLE
BEGIN
	IDS_FILEOPENEXT, "*.odb"
	IDS_OPENDLGTITLE, "Open Object database File"
	IDS_OPENDLGBUTTON, "~Open"
	IDS_SAVEDLGTITLE, "Save Object database File"
	IDS_SAVEDLGBUTTON, "~Save"
END
DLGTEMPLATE DLG_DBOUTPUT
BEGIN
	DIALOG "ODB Database Output", DLG_DBOUTPUT, 10, 25, 292, 113, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		DEFPUSHBUTTON "Close", DID_OK, 133, 4, 51, 14
		CONTROL "Odb", ML_DBOUT, 7, 23, 278, 83, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_CREINST 
BEGIN
	DIALOG "ODB Create Instance", 90, 7, 30, 347, 142, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Create Instance", DID_OK, 212, 3, 76, 14
		PUSHBUTTON "Done", DID_CANCEL, 291, 3, 51, 14
		CONTROL "Database Type", 101, 11, 128, 65, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 91, 8, 71, 92, 55, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 92, 8, 42, 91, 56, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Properties", 93, 10, 101, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 94, 9, 28, 91, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 95, 213, 41, 92, 56, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 96, 213, 28, 92, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 97, 110, 90, 87, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Value", 98, 112, 101, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Set ->", 99, 125, 63, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", 100, 156, 117, 48, 17, WC_LISTBOX, NOT WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", 102, 5, 4, 198, 133, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE DLG_CRETP 
BEGIN
	DIALOG "ODB Create type", 110, 17, 9, 261, 113, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Create Type", DID_OK, 130, 5, 67, 14
		PUSHBUTTON "Done", DID_CANCEL, 205, 5, 51, 14
		CONTROL "Type name", 111, 14, 95, 49, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 112, 15, 85, 112, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Subtype of", 113, 14, 57, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 114, 14, 5, 112, 51, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_CREPROP 
BEGIN
	DIALOG "ODB Create Property", 120, 12, 38, 227, 113, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Create property", DID_OK, 89, 3, 78, 14
		PUSHBUTTON "Done", DID_CANCEL, 171, 3, 51, 14
		CONTROL "Type Name", 124, 9, 102, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_NEWPROP, 125, 91, 87, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "New property name", 126, 127, 102, 85, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_DATATYPE, 6, 3, 113, 43, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Datatype", 128, 14, 47, 45, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", ID_TYPENAME, 7, 59, 97, 41, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Index on property", 122, 125, 74, 88, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_CREATEDB 
BEGIN
	DIALOG "ODB Create Database", 80, 21, 23, 248, 113, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Create ODB", DID_OK, 139, 3, 51, 14
		PUSHBUTTON "Done", DID_CANCEL, 193, 3, 51, 14
		CONTROL "", 81, 19, 79, 82, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Database Name", 101, 20, 92, 68, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Table Size", 83, 19, 62, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 84, 18, 49, 48, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Estimate the number of objects each type will have. Suggested values are 10, 100, 1000 and 10000. Only assign a larger value if your computer is equipped with a lot of memory.", 82, 113, 24, 128, 65, WC_MLE, MLS_READONLY | MLS_WORDWRAP | WS_VISIBLE
		CONTROL "Sample", 85, 108, 20, 137, 80, WC_STATIC, SS_HALFTONEFRAME | WS_VISIBLE | WS_DISABLED | WS_GROUP
		CONTROL "Note", 86, 116, 90, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_INSPECTDB 
BEGIN
	DIALOG "ODB Inspect Database", DLG_INSPECTDB, 16, 46, 261, 121, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		PUSHBUTTON "Done", DID_CANCEL, 201, 3, 56, 14
		CONTROL "Database Name", 101, 9, 105, 81, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 71, 8, 95, 74, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Table size", 72, 9, 77, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 73, 8, 67, 42, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Types", 75, 113, 106, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 74, 112, 28, 142, 77, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


POINTER CUR_WAIT 
BEGIN
	'42 41 5C 00 00 00 00 00 00 00 00 00 00 00 43 50'
	'4E 00 00 00 10 00 10 00 F2 00 00 00 40 00 00 00'
	'20 00 00 00 40 00 00 00 01 00 01 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'FF FF FF 00 43 50 4E 00 00 00 10 00 10 00 F2 01'
	'00 00 40 00 00 00 20 00 00 00 20 00 00 00 01 00'
	'04 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 FF 00 00 00 00 00 FF 00 FF 00'
	'FF 00 00 FF 00 00 FF FF 00 00 00 FF FF 00 00 00'
	'00 00 83 83 83 00 AA 00 00 00 00 00 80 00 AA 00'
	'80 00 00 92 00 00 AA 92 00 00 00 92 80 00 C9 C9'
	'C9 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF F7 FF 00 0F F0 00 FF CF F5 FF'
	'FF AF F6 FF FF 6F F7 7F FE EF F7 BF F9 EF F7 CF'
	'F7 EF F7 F7 EF EF F7 FB DF EF F7 FD BF EF F7 FE'
	'7F EF F7 FE 7F EF F7 FD BF EF F7 FB DF EF F7 F7'
	'EF EF F7 EF F7 EF F7 9F F9 EF F7 7F FE EF F6 FF'
	'FF 6F F5 FF FF AF F3 FF FF CF F7 FF FF EF F0 00'
	'00 07 FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77 77 77 77 77 77 77 77 77 77 77 77 77 77 77'
	'77 77'
END

DLGTEMPLATE 60 
BEGIN
	DIALOG "ODB Inspect Type", 100, 41, 19, 237, 168, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Done", DID_OK, 182, 2, 51, 14
		CONTROL "Type", 101, 13, 154, 46, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Subtypes", 102, 12, 111, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 61, 10, 108, 81, 44, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 64, 10, 68, 81, 40, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 62, 10, 35, 76, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Supertype", 63, 11, 47, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 66, 106, 35, 118, 74, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Properties", 65, 108, 111, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 67, 5, 24, 225, 100, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
	END

END


DLGTEMPLATE DLG_INSPECTINSTANCE 
BEGIN
	DIALOG "ODB Inspect Instance", DLG_INSPECTINSTANCE, 24, 9, 275, 162, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Done", DID_CANCEL, 220, 3, 51, 14
		CONTROL "Type", 101, 19, 150, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Object Inspector", 52, 19, 122, 70, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 53, 17, 24, 252, 96, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 55, 16, 113, 85, 35, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE 40 
BEGIN
	DIALOG "Odb Delete Type", 100, 22, 56, 255, 85, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Delete", DID_OK, 147, 5, 51, 14
		PUSHBUTTON "Done", DID_CANCEL, 201, 5, 51, 14
		CONTROL "", 41, 11, 11, 94, 53, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Type", 101, 13, 67, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "When a type is deleted all subtypes are also deleted as well as  instances to all deleted types.", 42, 125, 25, 122, 40, WC_MLE, MLS_BORDER | MLS_READONLY | MLS_WORDWRAP | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Note", 43, 127, 67, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE 30 
BEGIN
	DIALOG "Odb Delete Property", 100, 10, 33, 210, 112, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Delete", DID_OK, 96, 2, 51, 14
		PUSHBUTTON "Done", DID_CANCEL, 150, 2, 51, 14
		CONTROL "", 31, 12, 56, 88, 35, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Type", 101, 15, 93, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Property", 33, 115, 93, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 32, 113, 50, 86, 40, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE 20 
BEGIN
	DIALOG "ODB Delete Instance", 20, 24, 9, 275, 162, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Done", DID_CANCEL, 220, 3, 51, 14
		CONTROL "Type", 101, 19, 150, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Object Inspector", 52, 19, 122, 70, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 53, 17, 24, 252, 96, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 55, 16, 113, 85, 35, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Delete", DID_OK, 175, 3, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE 10 
BEGIN
	DIALOG "ODB Update Instance", 10, 5, 67, 357, 159, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "Done", DID_CANCEL, 303, 2, 51, 14
		CONTROL "Type", 101, 19, 143, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Object Inspector", 52, 19, 115, 70, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 53, 17, 17, 201, 96, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 55, 16, 106, 85, 35, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 56, 127, 91, 92, 50, WC_COMBOBOX, CBS_DROPDOWN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Property", 11, 130, 143, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 57, 249, 67, 94, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Datatype", 12, 250, 78, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 13, 7, 8, 222, 146, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "", 58, 250, 98, 94, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "New Value", 14, 251, 109, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Update", DID_OK, 254, 2, 44, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

